@page "/cambioPassword"
@inject IRepositorio repositorio
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

@if (cargando)
{
    <div class="spinner" />
}

<div class="row">
    <div class="col-6">
       <EditForm Model="cambioPassword" OnValidSubmit="ChangePasswordAsync">
            <DataAnnotationsValidator />
             <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-key" /> Cambiar Password
                        <a class="btn btn-sm btn-success float-end" href="/editarUsuario">
                            <i class="oi oi-arrow-thick-left" />
                            Atras
                        </a>
                        <button class="btn btn-sm btn-primary float-end mx-2" type="submit">
                            <i class="oi oi-check" /> Guardar
                        </button>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Password actual:</label>
                        <div>
                            <InputText type="password" class="form-control"
                                       @bind-Value="@cambioPassword.PasswordActual" />
                            <ValidationMessage For="@(() => cambioPassword.PasswordActual)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Nueva password:</label>
                        <div>
                            <InputText type="password" class="form-control"
                                       @bind-Value="@cambioPassword.PasswordNueva" />
                            <ValidationMessage For="@(() => cambioPassword.PasswordNueva)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Confirmación password:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@cambioPassword.Ok" />
                            <ValidationMessage For="@(() => cambioPassword.Ok)" />
                        </div>
                    </div>
                </div>
             </div>
        </EditForm>
    </div>
</div>
@code {
    private CambioPasswordDTO cambioPassword = new();
    private bool cargando;

    private async Task ChangePasswordAsync()
    {
        cargando = true;
        var responseHttp = await repositorio.Post("/api/usuarios/CambioPassword", cambioPassword);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            cargando = false;
            return;
        }
        cargando = false;
        navigationManager.NavigateTo("/editarUsuario");
        
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.Center,
                ShowConfirmButton = true,
                Timer = 10000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Info, message: "Password cambiada con éxito.");
    }
}
